# ==========================================
# Настройки для отправки заявок (Nodemailer)
# ==========================================
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=no-reply@ff24.pro
SMTP_PASSWORD=your_app_password
CONTACT_EMAIL=hello@ff24.pro

# ==========================================
# Базовые настройки проекта
# ==========================================
NEXT_PUBLIC_SITE_URL=https://ff-24.vercel.app
