@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
  --primary: 79 70 229;
  --accent: 99 102 241;
  --radius: 10px;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
