@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --accent-DEFAULT: 217 90% 64%; /* Синий акцент */
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --border: 217.2 32.4% 15%;
    --ring: 217 90% 64%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .shadow-neon {
    box-shadow: 0 0 15px hsl(var(--accent-DEFAULT) / 0.5), 
                0 0 5px hsl(var(--accent-DEFAULT) / 0.3);
  }
}
